curl_cffi
beautifulsoup4
fastapi
fuzzywuzzy
langchain
langgraph
langchain-openai
langchain-community
Levenshtein
pydantic-settings
pydantic[email]
pyjwt
asyncpg
sqlalchemy[asyncio]
uvicorn[standard]
websockets
apscheduler