curl_cffi
beautifulsoup4
fastapi
fuzzywuzzy
langchain
langgraph
langchain-openai
langchain-community
Levenshtein
pydantic-settings
pydantic[email]
python-jose
asyncpg
pgvector
pdfminer
sqlalchemy[asyncio]
uvicorn[standard]
websockets
apscheduler
redis