curl_cffi
beautifulsoup4
fastapi
fuzzywuzzy
langchain
langgraph
langchain-openai
langchain-community
Levenshtein
pydantic-settings
pydantic[email]
python-jose
asyncpg
pgvector
pdfminer.six
sqlalchemy[asyncio]
uvicorn[standard]
websockets
apscheduler
redis
aiofiles
pypdf
python-multipart
unstructured
pi_heif
pillow
pdf2image
unstructured.pytesseract
networkx
pandas
openpyxl
python-docx
python-pptx
numpy