@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root{
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --brand-purple: #ab68ff;
}
/* .dark,
:root[class~='dark'] {
  
}
.light {
  
} */
.btn {
  align-items: center;
  border-color: transparent;
  border-radius: .5rem;
  border-width: 1px;
  display: inline-flex;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: .5rem .75rem;
  pointer-events: auto;
}
.btn-neutral {
  background-color: #fff;
  background-color: var(--main-surface-primary);
  border-color: rgba(0,0,0,.15);
  border-color: var(--gray-600);
  border-width: 1px;
  color: #0d0d0d;
  color: var(--text-primary);
  font-size: .875rem;
  line-height: 1.35rem;
}
.icon-md {
  stroke-width: 1.5;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
}
.isVisible {
  display: none;
}
.adptView {
  flex-shrink: 0;
  overflow-x: hidden;
  z-index: 50;
  width: 260px;
}
.chat-title-enter {
  opacity: 0.01;
  transform: translateY(-20px);
}
.chat-title-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.chat-title-exit {
  opacity: 1;
  transform: translateY(0);
}
.chat-title-exit-active {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #212121;
    --text-primary: var(--gray-100);
    --text-secondary: var(--gray-400);
    --text-tertiary: var(--gray-500);
    --text-quaternary: var(--gray-600);
    --text-placeholder: hsla(0,0%,100%,.8);
    --text-error: #f93a37;
    --border-light: hsla(0,0%,100%,.1);
    --border-medium: hsla(0,0%,100%,.15);
    --border-heavy: hsla(0,0%,100%,.2);
    --border-xheavy: hsla(0,0%,100%,.25);
    --border-sharp: hsla(0,0%,100%,.05);
    --main-surface-primary: var(--gray-800);
    --main-surface-secondary: var(--gray-750);
    --main-surface-tertiary: var(--gray-700);
    --sidebar-surface-primary: var(--gray-900);
    --sidebar-surface-secondary: var(--gray-800);
    --sidebar-surface-tertiary: var(--gray-750);
    --link: #7ab7ff;
    --link-hover: #5e83b3;
    --surface-error: 249 58 55;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .chat-history {
    color: white;
    background: #171717; /* Set chat-history background color for dark theme */
  }
  
  .hover-light-dark {
    &:hover {
      background-color: var(--gray-800);
    }
  }
  .button-theme {
    &:hover {
      background-color: var(--gray-900);
    }
  }
  .skeleton {
    background: #212121;
  }
  .sbOrigin {
    transform: translateY(0.15rem) rotate(0deg) translateZ(0px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: var(--gray-700);
  }

  .sbRotateUp {
    transform: translateY(0.15rem) rotate(15deg) translateZ(0px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: var(--gray-200);
  }
  .sbRotateDown {
    transform: translateY(-0.15rem) rotate(-15deg) translateZ(0px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: var(--gray-200);
  }
  
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background: #ffffff;
    --text-primary: var(--gray-950);
    --text-secondary: #7d7d7d;
    --text-tertiary: var(--gray-400);
    --text-quaternary: var(--gray-300);
    --text-placeholder: rgba(0,0,0,.7);
    --tag-blue: #08f;
    --tag-blue-light: #0af;
    --text-error: #f93a37;
    --surface-error: 249 58 55;
    --border-light: rgba(0,0,0,.1);
    --border-medium: rgba(0,0,0,.15);
    --border-heavy: rgba(0,0,0,.2);
    --border-xheavy: rgba(0,0,0,.25);
    --border-sharp: rgb(0 0 0/5%);
    --main-surface-primary: var(--white);
    --main-surface-secondary: var(--gray-50);
    --main-surface-tertiary: var(--gray-100);
    --sidebar-surface-primary: var(--gray-50);
    --sidebar-surface-secondary: var(--gray-100);
    --sidebar-surface-tertiary: var(--gray-200);
    --link: #2964aa;
    --link-hover: #749ac8;
    --selection: #007aff;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .chat-history {
    color: black;
    background: #f9f9f9; /* Set chat-history background color for light theme */
  }

  .hover-light-dark {
    &:hover {
      background-color: var(--gray-200);
    }
  }
  .button-theme {
    &:hover {
      background-color: var(--gray-400);
    }
  }
  .skeleton {
    background-color: var(--gray-300);
  }
  .sbOrigin {
    transform: translateY(0.15rem) rotate(0deg) translateZ(0px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: var(--gray-200);
  }
  .sbRotateUp {
    transform: translateY(0.15rem) rotate(15deg) translateZ(0px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: var(--gray-700);
  }
  .sbRotateDown {
    transform: translateY(-0.15rem) rotate(-15deg) translateZ(0px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: var(--gray-700);
  }
}

/* Hide on screens smaller than 768px (sm breakpoint) */
@media (max-width: 767px) {
  .notVisible {
      display: none;
  }
  .isVisible {
    display: block;
  }
  .adptView {
    position: fixed;
    inset: 0;
    z-index: 50;
    width: 400px;
  }
  
}

/* styles/globals.css */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }
 
 @font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
 }
 
 @font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
 }
 
 @font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
 }